{% extends "base.html" %}
{% load mandefilters %}
{% block title %}
Students absent on {{ attendance_date }}
{% endblock %}

{% block content %}

<div class="col-md-9">
      <table class="table table-bordered table-striped table-hover" id="attendanceReportTable">
        <thead><tr>
          <th>Site</th>
          <th>Grade</th>
          <th>Description</th>
          <th>Student</th>
          <th>Code</th>
          <th>Guardian 1</th>
          <th>Guardian 2</th>
          <th>Update</th>
          <th>Note</th></tr></thead>
        <tbody>
          {% for classroom,attendance in classroomattendance.items %}
          {% if attendance %}
          {% for student in attendance %}
          <tr>
              <td>{{ classroom.school_id }}</td>
              <td>{{ classroom.get_cohort_display }}</td>
              <td>{{ classroom.classroom_number }}</td>
              <td>{{ student.student_id }}</td>
              <td>{{ student.get_attendance_display }}</td>
              <td>{{ student.student_id.getRecentFields | get_item:'guardian1_phone' }}</td>
              <td>{{ student.student_id.getRecentFields | get_item:'guardian2_phone' }}</td>
              <td><a href = "{% url 'take_class_attendance' classroom.classroom_id attendance_date %}" role="button" class="btn btn-xs btn-danger">Update Attendance</a></td>
              <td>{{ student.notes }}</td>
          {% endfor %}
          </tr>
          {% else %}
          {% endif %}
          {% endfor %}
        </tbody>

      </table>
    </div>


    <div class="col-md-3">
        <form method="post" action="{% url 'daily_attendance_report' %}">
          {% csrf_token %}
          <input type="date" name="attendance_date" class="form-control" id="datePicker"/>
        </form>
    </div>


{% endblock %}

{% block script %}
 <!-- DataTables JavaScript -->
    <script src="/static/mande/bower_components/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="/static/mande/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <script src="/static/mande/dist/js/jethro.js"></script>

<script type="text/javascript">
$('#datePicker').val('{{attendance_date}}');
$(function() {
      $('#datePicker').change(function() {
          //split on /
          url = '{%url 'daily_absence_report' %}' + $(this).val()
          window.location.href = url
      });
    });

$(document).ready(function(){
  $('#attendanceReportTable').DataTable({
      responsive: true,
      pageLength: 25,
      order: [[0,'asc'],[1,'asc'],[2,'asc']],
      columnDefs: [
       { type: 'jethro', targets: 1 }
     ]
  });
});
</script>

{% endblock %}
