{% extends "base.html" %}
{% load bootstrap %}
{% block title %}
Classroom Enrollment
{% if classroom != None %}
<small>enrolling students in {{classroom}}</action>
{% endif %}
{% endblock %}

{% block content %}

<div class="col-md-12">
  <form action = "{% url 'classroomenrollment_form' %}" method="post">
      {% csrf_token %}
      <div class = "col-md-4">
      {{form.classroom_id | bootstrap}}
      {{form.enrollment_date | bootstrap}}
      <label for "selectedstudents">Currently Selected Students</label>
      <ol id="selectedstudents">
      </ol>

      </div>
      {% if classroom %}
        <div class = "col-md-8">
        {{form.student_id }}
        </div>
      {% endif %}
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  </form>


</div>
{% if classroom %}
<div class="col-md-12">
  <h2>Students Currently Enrolled in {{classroom}}</h2>
    <table id="enrolled_students" class="table table-border table-striped table-hover">
      <thead>
        <tr><th>Student</th><th>Gender</th><th>Enrollment Date</th><th>Drop Date</th></tr>
      </thead>
      {% for student in enrolled_students %}
      <tr>
        <td>{{student.student_id}}</td><td>{{student.student_id.gender}}</td><td>{{student.enrollment_date}}</td><td>{{student.drop_date}}</td>
      </tr>
      {% endfor %}
    </table>
</div>
{% endif %}

{% endblock %}

{% block script %}
 <!-- DataTables JavaScript -->
    <script src="/static/mande/bower_components/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="/static/mande/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

<script type="text/javascript">

$(document).ready(function(){
  $('#id_student_id').DataTable({
      responsive: true,
      pageLength: 5,
  });

  $('#enrolled_students').DataTable({
      responsive: true,
      pageLength: 25,
  });

});
$('#id_classroom_id').change(function(){
  var selected = $('#id_classroom_id').val()
  if(selected) url = '{% url 'classroomenrollment_form' %}'+selected+'/'
  window.location.href=url
});
$("[type=checkbox]").change(function(){
      // varible to hold string
      if($(this).is(':checked')){
          $('#selectedstudents').append('<li id="'+this.id+'student">'+$('label[for="'+this.id+'"]').text()+'</li>');
      } else {
          $('#'+this.id+'student').remove();
      }
});
</script>

{% endblock %}
