{% extends "base.html" %}
{% load mandefilters %}
{% block title %}
Data Audit
{% endblock %}

{% block content %}
<div class="col-md-9">
      <table class="table table-bordered table-striped table-hover" id="dataAudit">
        <thead><tr>
          <th>Site</th>
          <th>Student</th>
          <th>Problem</th>
        <tbody>
          {% for student,issues in students.items %}
          {% for issue in issues %}
          <tr>
              <td style="width:7em;">{{ student.site }}</td>
              <td><a href="{% url 'student_detail' student.student_id %}">{{ student }}</a></td>
              <td><a href="{{issue.resolution}}?next={% url 'data_audit' %}&limit={{issue.limit}}" role="button" class="btn btn-xs btn-danger">{{ issue.text }}</a></td>
          </tr>
          {% endfor %}
          {% endfor %}
        </tbody>

      </table>
    </div>
<div class="col-md-3">
  <h3>Filters</h3>
  <ul class = "buttonlist">

    {% for filter in filters %}
    <li><a role = "button" class="btn btn-sm btn-info" onclick ="table.search('{{filter|escapejs}}').draw();" href='#'>{{filter}}</a></li>
    {% endfor %}
    <li><a role = "button" class="btn btn-sm btn-warning" onclick="table.search('').draw()" href="#">Clear Search</a></li>
  </ul>
  </div>

{% endblock %}

{% block script %}
 <!-- DataTables JavaScript -->
    <script src="/static/mande/bower_components/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="/static/mande/dist/js/jethro.js"></script>
    <script src="/static/mande/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>


<script type="text/javascript">
var table = null;
$(document).ready(function(){
  table = $('#dataAudit').DataTable({
      responsive: true,
      pageLength: 25,
      order: [[2,'asc']],
      dom: 'frtipB',
      buttons: [
        {
                 extend: 'csvHtml5',
                 text: 'TSV export <i class="fa fa-download"></i>',
                 className: 'btn btn-sm btn-success',
                 fieldSeparator: '\t',
                 extension: '.tsv',
                 title: 'DataAudit'
             },

    ]
  });
});
</script>

{% endblock %}
