{% load mathfilters %}

<style>
table,tr,td,th{
  border: solid 1px black;
  border-collapse: collapse;
h1{
  margin-bottom: .1em;
}
</style>
<h1>Detail for {{survey.name}}</h1>
<h2>Student ID: {{survey.student_id}}</h2>
<small>Time since last update:
  {% firstof recent_update.date|timesince survey.date|timesince "Never updated" %} </small>
<h3>
<table>
  <tr>
    <td>Gender: </td>
    <td>{{ survey.get_gender_display }}</td>
  </tr>
  <tr>
    <td>DOB: </td>
    <td>{{ survey.dob|date:'d N Y'}} ({{survey.dob|timesince}} old)</td>
  </tr>
  <tr>
    <td>Enrolled: </td>
    <td>{% firstof recent_intake.enrollment_date|date:'d N Y' "Not yet enrolled" %}</td>
  </tr>
  <tr>
    <td>Expected 6th Grade Graduation: </td>
    <td>Jul. {{ graduation|date:'Y' }}</td>
  </tr>
</table><br/>
<table>
  <tr>
    <th>VDP Grade when Enrolled: </th><th>Current VDP Grade:</th><th>Public School Current Grade</th><th>Grades/Years to achieve</th>
  </tr>
  <tr>
    <td>{% firstof survey.get_grade_appropriate_display "Not yet collected" %}</td>
    <td>{% firstof current_grade.get_test_level_display "No academic records found" %}</td>
    <td>{% firstof recent_survey.get_grade_current_display recent_survey.get_grade_last_display survey.get_grade_current_display survey.get_grade_last_display %}</td>
    {% with grad_date=graduation|date:'Y' %}
    <td>{{ 6|sub:current_grade.test_level }} / {{ grad_date|sub:cur_year }}</td>
    {% endwith %}
  </tr>
  <tr>


  </tr>
</table><br/>
<table>


</table>

<h3>Academics</h3>
<table>
<tr>
  <th>Test Date</th>
  <th>Test Grade</th>
  <th>Math</th>
  <th>Khmer</th>
  <th>Promoted?</th>
</tr>
{% for test in academics %}
<tr>
  <td>{{test.test_date|date:'d N Y'}}</td>
  <td>{{test.get_test_level_display}}</td>
  <td>{{test.test_grade_math}}</td>
  <td>{{test.test_grade_khmer}}</td>
  <td>{{test.promote}}</td>
</tr>
{% endfor %}

</table>
<h3>Discipline</h3>
<table>
<tr>
  <th>Date of Incident</th>
  <th>Code</th>

</tr>
{% for incident in discipline %}
<tr>
  <td>{{incident.incident_date|date:'d N Y'}}</td>
  <td>{{incident.get_incident_code_display}}</td>
</tr>
{% endfor %}

</table>

<h3>Father's Information</h3>
    <table>
      <tr>
        <td>Name: </td>
        <td>{% firstof recent_update.father_name survey.father_name "Not Entered" %}</td>
      </tr>
      <tr>
        <td>Phone: </td>
        <td>{% firstof recent_update.father_phone survey.father_phone "Not Entered" %}</td>
      </tr>
      <tr>
        <td>Profession:</td>
        <td>{% firstof recent_update.father_profession survey.father_profession "Not Entered" %}</td>
      </tr>
      <tr>
        <td>Employment (1-10, 1 is low income):</td>
        <td>{% firstof recent_update.father_employment survey.father_employment "Not Entered" %}</td>
      </tr>

    </table>

<h3>Mother's Information</h3>
    <table>
      <tr>
        <td>Name: </td>
        <td>{% firstof recent_update.mother_name survey.mother_name "Not Entered" %}</td>
      </tr>
      <tr>
        <td>Phone: </td>
        <td>{% firstof recent_update.mother_phone survey.mother_phone "Not Entered" %}</td>
      </tr>
      <tr>
        <td>Profession:</td>
        <td>{% firstof recent_update.mother_profession survey.mother_profession "Not Entered" %}</td>
      </tr>
      <tr>
        <td>Employment (1-10, 1 is low income):</td>
        <td>{% firstof recent_update.mother_employment survey.mother_employment "Not Entered" %}</td>
      </tr>

    </table>
