{% extends "base.html" %}
{% load mathfilters %}
{% load mandefilters %}
{% block title %}Dashboard{% endblock %}

{% block content %}
            <div class="row">
                <div class = "col-lg-12">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <i class="fa fa-bar-chart-o fa-fw"></i> VDP by Grade
                          <div class="pull-right">
                              <div class="btn-group">
                                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                      Actions
                                      <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu pull-right" role="menu">
                                      <li><a href="#">Action</a>
                                      </li>
                                      <li><a href="#">Another action</a>
                                      </li>
                                      <li><a href="#">Something else here</a>
                                      </li>
                                      <li class="divider"></li>
                                      <li><a href="#">Separated link</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <!-- /.panel-heading -->
                      <div class="panel-body">
                          <div class="row">
                              <div class="col-lg-12">
                                  <div id="morris-bar-chart"></div>
                              </div>
                              <!-- /.col-lg-12 (nested) -->
                          </div>
                          <!-- /.row -->
                      </div>
                      <!-- /.panel-body -->
                  </div>
                  <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> VDP at a Glance
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="col-md-12">
                              <table class="table table-striped table-bordered table-hover">
                                <tr><td colspan=3>Catch Up Students: <strong>{{surveys|length}}</strong> ({{females}} female)</td></tr>
                                <tr><td>
                                {% for school,attributes in breakdown.items %}
                                <div class="col-md-4">
                                <strong>{{school}} <br/>(total: {{attributes.M|add:attributes.F}})</strong>
                                  <div id="morris-donut-chart-{{school}}"></div>
                                </div>
                                {% endfor %}
                                </td></tr>
                              </table>
                              <table class="table table-striped table-bordered table-hover">
                                <tr><td colspan=12>By VDP Grade:</td></tr>
                                <tr>
                                  {% for key, value in students_by_grade.items %}
                                    {% if key <= 12 and key > 0 %}
                                      <td><strong>{{key}}:</strong> {{value}}</td>
                                    {% endif %}
                                  {% endfor %}
                                </tr>
                              </table>

                              <table class="table table-striped table-bordered table-hover">
                                <tr><td colspan=3>Skill Training Students:</td></tr>
                                <tr>
                                  {% for key, value in students_by_grade.items %}
                                    {% if key > 12 %}
                                      <td><strong>{{key | grade_by_id}}:</strong> {{value}}</td>
                                    {% endif %}
                                  {% endfor %}
                                </tr>
                              </table>
                            </div>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Recent Activity
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> Intake survey for "Phearey" added
                                    <span class="pull-right text-muted small"><em>4 minutes ago by Chanrith</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-building fa-fw"></i> "Chanthorn" enrolled in VDP-TK-4
                                    <span class="pull-right text-muted small"><em>12 minutes ago by Sila</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-times fa-fw"></i> Discipline for "Pidor" added
                                    <span class="pull-right text-muted small"><em>27 minutes ago by Gunilla</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i> Update of info for "Chendamony"
                                    <span class="pull-right text-muted small"><em>43 minutes ago by Chenda</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-upload fa-fw"></i> Spiritual Activities Survey for "Sokchan"
                                    <span class="pull-right text-muted small"><em>48 minutes ago by Chenda</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-bolt fa-fw"></i> Attendance taken for PKPN-4
                                    <span class="pull-right text-muted small"><em>52 minutes ago by Chanrith</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-mortar-board fa-fw"></i> "Srey" reached grade level!
                                    <span class="pull-right text-muted small"><em>53 minutes ago by Chanrith</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-minus-square fa-fw"></i> Exit Survey for "Liza"
                                    <span class="pull-right text-muted small"><em>59 minutes ago by Sila</em>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item">
                                    <i class="fa fa-medkit fa-fw"></i> Medical Survey for "Sokanisa"
                                    <span class="pull-right text-muted small"><em>Yesterday by Chenda</em>
                                    </span>
                                </a>
                            </div>
                            <!-- /.list-group -->
                            <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Students at Grade Level
                        </div>
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                            <a href="#" class="btn btn-default btn-block">View Details</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
{% endblock %}

{% block script %}
    <script type="text/javascript">
      $(function() {

          {% for school,attributes in breakdown.items %}
            Morris.Donut({
                element: 'morris-donut-chart-{{school}}',
                data: [
                {% for key,value in attributes.items %}
                {
                    label: "{{key}}",
                    value: {{value}},
                },
                {% endfor %}
                ],
                resize: true,
                colors: ['#337ab7','#d9534f']
            });
          {% endfor %}


          Morris.Bar({
              element: 'morris-bar-chart',
              data: [
                {% for grade, population in students_by_grade_by_site.items %}
                  {
                      y: '{{grade | grade_by_id}}',
                      {% for site,students in population.items %}
                        '{{site}}': {{students}},
                      {% endfor %}
                  },
                {% endfor %}
              ],
              xkey: 'y',
              ykeys: [
                {% for school in schools %}'{{school.school_name}}',{% endfor %}
              ],
              labels: [
                {% for school in schools %}'{{school.school_name}}',{% endfor %}
              ],
              hideHover: 'auto',
              resize: true
          });

      });

    </script>
{% endblock %}
