{% extends "base.html" %}
{% load mathfilters %}
{% load mandefilters %}
{% block title %}Dashboard{% endblock %}

{% block content %}
            <div class="row">
                <div class = "col-lg-8">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <i class="fa fa-bar-chart-o fa-fw"></i> VDP by Grade
                          <div class="pull-right">
                              <div class="btn-group">
                                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                      Actions
                                      <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu pull-right" role="menu">
                                      <li><a href="#">Action</a>
                                      </li>
                                      <li><a href="#">Another action</a>
                                      </li>
                                      <li><a href="#">Something else here</a>
                                      </li>
                                      <li class="divider"></li>
                                      <li><a href="#">Separated link</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <!-- /.panel-heading -->
                      <div class="panel-body">
                          <div class="row">
                              <div class="col-lg-12">
                                  <div id="morris-bar-chart"></div>
                              </div>
                              <!-- /.col-lg-12 (nested) -->
                          </div>
                          <!-- /.row -->
                      </div>
                      <!-- /.panel-body -->
                  </div>
                  <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class = "col-lg-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <i class="fa fa-bar-chart-o fa-fw"></i> Anomalous Data
                          <div class="pull-right">
                              <div class="btn-group">
                                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                      Unenrolled Students
                                      <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu pull-right" role="menu">
                                      <li><a href="#" data-id="unenrolled_panel">Unenrolled Students</a>
                                      </li>
                                      <li><a href="#" data-id="absence_panel">Unapproved Absences</a>
                                      </li>
                                      <li><a href="#">Something else here</a>
                                      </li>
                                      <li class="divider"></li>
                                      <li><a href="#">Separated link</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <!-- /.panel-heading -->
                      <div id="unenrolled_panel" class="panel-body">
                        <table class="table table-bordered table-striped table-hover" id="unenrolledStudentsTable">
                          <thead>
                            <tr>
                              <th>Site</th><th>Student</th><th>Enroll</th>
                            </tr>
                          </thead>
                          {% for student in unenrolled_students %}
                          <tr>
                              <td>{{student.site}}</td>
                              <td>{{student}}</td>
                              <td><a href="{% url 'intake_internal' student.student_id %}" role="button" class="btn btn-xsmall btn-success">Enroll</a></td>
                          </tr>
                          {% endfor %}
                        </table>
                      <!--  <a href="{% url 'notification_log' %}" class="btn btn-default btn-block">View All Unenrolled Students</a> -->
                      </div>

                      <div id="absence_panel" class="panel-body" style="display:none">
                        <table class="table table-bordered table-striped table-hover" id="unapprovedAbsenceNoCommentTable" >
                          <thead>
                            <tr>
                              <th>Date</th><th>Site</th><th>Student</th>
                            </tr>
                          </thead>
                          {% for student in unapproved_absence_no_comment %}
                          <tr>
                              <td>{{student.date|date:"Y-m-d"}}</td>
                              <td>{{student.student_id.site}}</td>
                              {% if student.classroom.classroom_id != None %}
                              <td><a href="{% url 'take_class_attendance' student.classroom.classroom_id student.date|date:'Y-m-d' %}" role="button" class="btn btn-xsmall btn-success">{{student.student_id.student_id}}</a></td>
                              {% endif %}
                              {% if student.classroom.classroom_id == None %}
                              <td>{{student.student_id.student_id}}</td>
                              {% endif %}
                          </tr>
                          {% endfor %}
                        </table>
                      </div>
                  </div>

                  <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> VDP at a Glance
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Overview
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#" data-id="gender_panel">Overview</a>
                                        </li>
                                        <li><a href="#" data-id="skills_panel">Objectives breakdown</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div id="gender_panel" class="panel-body">
                            <div class="col-md-12">
                              <table class="table table-striped table-bordered table-hover">
                                <tr><td colspan=3>Catch Up Students: <strong>{{surveys|length}}</strong> ({{females}} female)</td></tr>
                                <tr><td>
                                {% for school,attributes in breakdown.items %}
                                <div class="col-md-4">
                                <strong>{{school}} <br/>(total: {{attributes.M|add:attributes.F}})</strong>
                                  <div id="morris-donut-chart-{{school}}"></div>
                                </div>
                                {% endfor %}
                                </td></tr>
                              </table>
                              <div class ="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                  <tr><td colspan=12>At Age Appropriate Grade Level/<strong>Total</strong>:</td></tr>
                                  <tr>
                                  {% for key, value in students_by_grade.items %}
                                    {% if key <= 12 and key > 0 and value %}
                                      <td><strong>{{key}}</strong></td>
                                    {% endif %}
                                  {% endfor %}
                                </tr>
                                  <tr>
                                    {% for key, value in students_by_grade.items %}
                                      {% if key <= 12 and key > 0  and value %}
                                        {% with atgl=students_at_gl_by_grade|get_item:key %}
                                        <td>{{atgl}}/<strong>{{value}}<br/> <small>({% widthratio atgl value 100 %}%)</small></strong></td>
                                        {% endwith %}
                                      {% endif %}
                                    {% endfor %}
                                  </tr>
                                </table>
                              </div>

                              <table class="table table-striped table-bordered table-hover">
                                <tr><td colspan=3>Skill Training Students:</td></tr>
                                <tr>
                                  {% for key, value in students_by_grade.items %}
                                    {% if key > 12  and value %}
                                      <td><strong>{{key | grade_by_id}}:</strong> {{value}}</td>
                                    {% endif %}
                                  {% endfor %}
                                </tr>
                              </table>
                            </div>

                        </div>
                        <!-- /.panel-body -->
                        
                        <div id="skills_panel" class="panel-body" style="display:none">
                            <div class="col-md-12">
                              <table class="table table-striped table-bordered table-hover">
                                <tr><td colspan=3>Catch Up Students: <strong>{{surveys|length}}</strong> ({{total_skills}} Skills Training)</td></tr>
                                <tr><td>
                                {% for school,attributes in program_breakdown.items %}
                                <div class="col-md-4">
                                <strong>{{school}} <br/>(total: {{attributes.Grades|add:attributes.Skills}})</strong>
                                  <div id="morris-donut-chart1-{{school}}"></div>
                                </div>
                                {% endfor %}
                                </td></tr>
                              </table>
                            </div>

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Recent Activity
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                              {% for notification in notifications %}

                                <a href="#" class="list-group-item">
                                    <i class="fa {{notification.font_awesome_icon}} fa-fw"></i> {{notification.text}}
                                    <span class="pull-right text-muted small">
                                      <em>{{notification.date|timesince}} ago by {{notification.user}}</em>
                                    </span>
                                </a>
                              {% endfor %}
                            </div>
                            <!-- /.list-group -->
                            <a href="{% url 'notification_log' %}" class="btn btn-default btn-block">View All Alerts</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Students at Grade Level
                        </div>
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                            <a href="#" class="btn btn-default btn-block">View Details</a>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
{% endblock %}

{% block script %}
<!-- DataTables JavaScript -->
   <script src="/static/mande/bower_components/DataTables/media/js/jquery.dataTables.min.js"></script>
   <script src="/static/mande/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">

    $(document).ready(function(){
      $('#unenrolledStudentsTable').DataTable({
          responsive: true,
          pageLength: 5,
          searching: false,
          bLengthChange: false,
      });
      $('#unapprovedAbsenceNoCommentTable').DataTable({
          responsive: true,
          pageLength: 5,
          searching: false,
          bLengthChange: false,
      });

      <!-- Add custom js to toggle panels with action links -->
      $('a').click(function() {
    	  if ($(this).attr('data-id') != undefined) {
    		  var panel = $(this).attr('data-id');
    		  $(this).closest('.panel-default').find('.panel-body').hide();
    		  $('#' + panel).show();
    		  $(window).trigger('resize');
    		  $(this).closest('.panel-default').find('button.dropdown-toggle').html($(this).html() + '<span class="caret"></span>');
    	  }
      });
    });

      $(function() {

          {% for school,attributes in breakdown.items %}
            Morris.Donut({
                element: 'morris-donut-chart-{{school}}',
                data: [
                {% for key,value in attributes.items %}
                {
                    label: "{{key}}",
                    value: {{value}},
                },
                {% endfor %}
                ],
                resize: true,
                colors: ['#337ab7','#d9534f']
            });
          {% endfor %}

          {% for school,attributes in program_breakdown.items %}
            Morris.Donut({
                element: 'morris-donut-chart1-{{school}}',
                data: [
                {% for key,value in attributes.items %}
                {
                    label: "{{key}}",
                    value: {{value}},
                },
                {% endfor %}
                ],
                resize: true,
                colors: ['#337ab7','#d9534f']
            });
          {% endfor %}

          Morris.Bar({
              element: 'morris-bar-chart',
              data: [
                {% for grade, population in students_by_grade_by_site.items %}
                  {
                      y: '{{grade | grade_by_id}}',
                      {% for site,students in population.items %}
                        '{{site}}': {{students}},
                      {% endfor %}
                  },
                {% endfor %}
              ],
              xkey: 'y',
              ykeys: [
                {% for school in schools %}'{{school.school_name}}',{% endfor %}
              ],
              labels: [
                {% for school in schools %}'{{school.school_name}}',{% endfor %}
              ],
              hideHover: 'auto',
              resize: true
          });

      });

    </script>
{% endblock %}
