{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}
{% block title %}
  {% if student %}
    {% blocktrans %}Editing Intake Survey for {{student}}{% endblocktrans %}
  {% else %}
    {% trans "Performing Intake Survey" %}
  {% endif %}
{% endblock %}

{% block content %}

<div class="col-md-3"></div>
<div class="col-md-6">

{% if student %}
<form action = "{% url 'intake_survey' student.student_id %}?next={{next_url}}&limit={{limit}}" method="post">
{% else %}
<form action = "{% url 'intake_survey' %}" method="post">
{% endif %}
    {{ form | bootstrap }}
    {% csrf_token %}
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    </div>
</form>
</div>
<div class="col-md-3"></div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function(){
  var limit = 'id_{{limit}}';
  if(limit !== 'id_None'){
    //loop through all form groups and hide everything but our limit
    $('.form-group').each(function(index){
      if(!$(this).find($('#id_{{limit}}')).length){
        $(this).hide();
      }
    });
  }

  if ($('#id_enrolled').length) {
    var enrolled = $('#id_enrolled');
    var current = $('#id_grade_current').closest('.form-group');
    var last = $('#id_grade_last').closest('.form-group');
    if (!current.length || !last.length) {
      return;
    }
    if (enrolled.val() == 'N') {
      current.hide();
      last.show();
    }
    if (enrolled.val() == 'Y') {
      last.hide();
      current.show();
    }
    if (enrolled.val() == 'NA') {
      // show everything?
      last.show();
      current.show();
    }
    enrolled.change(function() {
      if ($(this).val() == 'N') {
        current.hide();
        last.show();
      }
      if ($(this).val() == 'Y') {
        last.hide();
        current.show();
      }
      if ($(this).val() == 'NA') {
        last.show();
        current.show();
      }
    });
  }
  
});
</script>

{% endblock %}
