{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}
{% block title %}
  {% if student %}
    {% blocktrans %}Editing Intake Survey for {{student}}{% endblocktrans %}
  {% else %}
    {% trans "Performing Intake Survey" %}
  {% endif %}
{% endblock %}

{% block content %}

<div class="col-md-3"></div>
<div class="col-md-6">

{% if student %}
<form action = "{% url 'intake_survey' student.student_id %}?next={{next_url}}&limit={{limit}}" method="post">
{% else %}
<form action = "{% url 'intake_survey' %}" method="post">
{% endif %}
    {{ form | bootstrap }}
    {% csrf_token %}
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    </div>
</form>
</div>
<div class="col-md-3"></div>
{% endblock %}

{% block script %}
<script src="/static/mande/bower_components/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  var data_guardian_profession = {{ data_guardian_profession | safe }}
  $("#id_guardian1_profession,#id_guardian2_profession" ).autocomplete({
      source: data_guardian_profession
  });

  var limit = 'id_{{limit}}';
  if(limit !== 'id_None'){
    //loop through all form groups and hide everything but our limit
    $('.form-group').each(function(index){
      if(!$(this).find($('#id_{{limit}}')).length){
        $(this).hide();
      }
    });
  }
});
</script>

{% endblock %}
