{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}
{% block title %}
{% trans "Performing Intake Update" %} - {{survey.name}}
{% endblock %}

{% block content %}

<div class="col-md-3"></div>
<div class="col-md-6">
<form action = "{% url 'intake_update' student_id %}?next={{next}}&tab={{tab}}" method="post">
    {{ form|bootstrap }}
    {% csrf_token %}
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary">{% trans 'Submit'%}</button>
    </div>
</form>
</div>
<div class="col-md-3"></div>
{% endblock %}
{% block script %}
<script src="/static/mande/bower_components/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  var data_guardian_profession = {{ data_guardian_profession | safe }}
  $("#id_guardian1_profession,#id_guardian2_profession" ).autocomplete({
      source: data_guardian_profession
  });
});
</script>

{% endblock %}
