{% extends "base.html" %}
{% load mandefilters %}
{% block title %}
M&E Summary Report in {{start_view_date}} to {{view_date}}
{% endblock %}

{% block content %}
    <div class="col-md-9">
      <h3>Catch-up school</h3>
      <table>
        <td>
          <table style="border:1px solid black; display:inline-table;" class="table table-bordered table-striped table-hover">
            <tr><th>&nbsp;</th></tr>
            <tr><td>&nbsp;</td></tr>
            {% for grade_id,grade in grades.items %}
              {% if grade_id >= 1 and grade_id <= 12 %}
                <tr>
                  <td>
                    {{grade}}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
            <tr>
              <td>Total:</td>
            </tr>
          </table>
        </td>
        {% for student_by_site_grade in students_by_site_grade %}
        <td>
          <table style="border:1px solid black; display:inline-table;" class="table table-bordered table-striped table-hover">
              <tr>
                <th colspan="2">{{student_by_site_grade.school}}</th>
              </tr>
              <tr>
                <td>Boys</td><td>Girls</td>
              </tr>
              {% for grade in student_by_site_grade.grades %}
              <tr>
                  {% for k, v in grade.items %}
                  <!-- <td>{{ k }}</td> -->
                  <td>{{v.students | get_students_length_by_gender:'M'}}</td>
                  <td>{{v.students | get_students_length_by_gender:'F'}}</td>
                  {% endfor %}
              </tr>
              {% endfor %}
              <tr>
                <td>{{student_by_site_grade.total | get_students_length_by_gender:'M'}}</td>
                <td>{{student_by_site_grade.total | get_students_length_by_gender:'F'}}</td>
              </tr>
            </table>
          </td>
          {% endfor %}
        </tr>
      </table>
    </div>
    <div class="col-md-3">
      <form action = "" method="post">
          {% csrf_token %}
          <div class="col-md-12">
            <div class="form-group">
              <input type="date" name="start_view_date" class="form-control" id="start_view_date" required>
            </div>
            <div class="form-group">
              <input type="date" name="view_date" class="form-control" id="view_date" required>
            </div>
            <div class="form-group">
              <input type="submit" class="form-control btn btn-primary">
            </div>
          </div>
      </form>
    </div>

  <div class="col-md-9">
      <h3>Students enrolled in grade plus Vietnamese</h3>
      <table>
        <td>
          <table style="border:1px solid black; display:inline-table;" class="table table-bordered table-striped table-hover">
            <tr><th>&nbsp;</th></tr>
            <tr><td>&nbsp;</td></tr>
            {% for grade_id,grade in grades.items %}
              {% if grade_id >= 1 and grade_id <= 12 %}
                <tr>
                  <td>
                    {{grade}} + Vietnamese
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
            <tr>
              <td>Only Vietnamese</td>
            </tr>
            <tr>
              <td>Total:</td>
            </tr>
          </table>
        </td>
        {% for student_by_site_grade_plus_skill_vietnamese in students_by_site_grade_plus_skill_vietnamese %}
        <td>
          <table style="border:1px solid black; display:inline-table;" class="table table-bordered table-striped table-hover">
              <tr>
                <th colspan="2">{{student_by_site_grade_plus_skill_vietnamese.school}}</th>
              </tr>
              <tr>
                <td>Boys</td><td>Girls</td>
              </tr>
              {% for grade in student_by_site_grade_plus_skill_vietnamese.grades %}
              <tr>
                  {% for k, v in grade.items %}
                  <!-- <td>{{ k }}</td> -->
                  <td>{{v.students | get_students_length_by_gender:'M'}}</td>
                  <td>{{v.students | get_students_length_by_gender:'F'}}</td>
                  {% endfor %}
              </tr>
              {% endfor %}
              <tr>
                <td>
                  {{student_by_site_grade_plus_skill_vietnamese.vietnamese_only | get_students_length_by_gender:'M'}}</td>
                </td>
                <td>
                  {{student_by_site_grade_plus_skill_vietnamese.vietnamese_only | get_students_length_by_gender:'F'}}
                </td>
              </tr>
              <tr>
                <td>{{student_by_site_grade_plus_skill_vietnamese.total | get_students_length_by_gender:'M'}}</td>
                <td>{{student_by_site_grade_plus_skill_vietnamese.total | get_students_length_by_gender:'F'}}</td>
              </tr>
            </table>
          </td>
          {% endfor %}
        </tr>
      </table>
    </div>
    <div class="col-md-9">
      <h3>Students enrolled in English</h3>
      <table>
        <td>
          <table style="border:1px solid black; display:inline-table;" class="table table-bordered table-striped table-hover">
            <tr><th>&nbsp;</th></tr>
            <tr><td>&nbsp;</td></tr>
            {% for i in level %}
                <tr>
                  <td>
                    English level {{i}}
                  </td>
                </tr>
            {% endfor %}
            <tr>
              <td>Total:</td>
            </tr>
          </table>
        </td>
        {% for student_enrolled_in_english_by_level in students_enrolled_in_english_by_level %}
        <td>
          <table style="border:1px solid black; display:inline-table;" class="table table-bordered table-striped table-hover">
              <tr>
                <th colspan="2">{{student_enrolled_in_english_by_level.school}}</th>
              </tr>
              <tr>
                <td>Boys</td><td>Girls</td>
              </tr>
              {% for english_class in student_enrolled_in_english_by_level.english_classes %}
              <tr>
                  {% for k, v in english_class.items %}
                  <td>{{v.students | get_students_length_by_gender:'M'}}</td>
                  <td>{{v.students | get_students_length_by_gender:'F'}}</td>
                  {% endfor %}
              </tr>
              {% endfor %}
              <tr>
                <td>{{student_enrolled_in_english_by_level.total | get_students_length_by_gender:'M'}}</td>
                <td>{{student_enrolled_in_english_by_level.total | get_students_length_by_gender:'F'}}</td>
              </tr>
            </table>
          </td>
          {% endfor %}
        </tr>
      </table>
    </div>
    <div class="col-md-12">
        <h3>Total Students</h3>
        <table>
          <tr>
            {% for student_by_site in students_by_site %}
            <td>
              <table style="border:1px solid black; display:inline-table;" class="table table-bordered table-striped table-hover">
                  <tr>
                    <th colspan="2">{{student_by_site.school}}</th>
                  </tr>
                  <tr>
                    <td>Boys</td>
                    <td>Girls</td>
                  </tr>
                  <tr>
                    <td>{{student_by_site.students | get_students_length_by_gender:'M'}}</td>
                    <td>{{student_by_site.students | get_students_length_by_gender:'F'}}</td>
                  </tr>
              </table>
            </td>
            {% endfor %}
          </tr>
        </table>
    </div>
    <div class="col-md-12">
        <h3>Achieved age appropriate level</h3>
        <table>
          <td>
            <table style="border:1px solid black; display:inline-table;" class="table table-bordered table-striped table-hover">
              <tr><th>&nbsp;</th></tr>
              <tr><td>Grade<br/>&nbsp;</td></tr>
              {% for grade_id,grade in grades.items %}
                {% if grade_id >= 1 and grade_id <= 12 %}
                  <tr>
                    <td>
                      {{grade_id}}
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
              <tr>
                <td>Total:</td>
              </tr>
            </table>
          </td>
          {% for student_by_site_grade in students_by_site_grade %}
          <td>
            <table style="border:1px solid black; display:inline-table;" class="table table-bordered table-striped table-hover">
                <tr>
                  <th colspan="4">{{student_by_site_grade.school}}</th>
                </tr>
                <tr>
                  <td>Boys</td><td>% of total</td>
                  <td>Girls</td><td>% of total</td>
                </tr>
                {% for grade in student_by_site_grade.grades %}
                <tr>
                    {% for k, v in grade.items %}
                    <!-- <td>{{ k }}</td> -->
                    <td> {{v.students_appropriate_level | get_students_length_by_gender:'M'}} </td>
                    <!--boys % of total  -->
                    <td>
                      {% widthratio v.students_appropriate_level|get_students_length_by_gender:'M' v.students|get_students_length_by_gender:'M' 100 %}
                       %
                    </td>
                    <td> {{v.students_appropriate_level | get_students_length_by_gender:'F'}}</td>
                    <!-- girls % of total -->
                    <td>
                      {% widthratio v.students_appropriate_level|get_students_length_by_gender:'F' v.students|get_students_length_by_gender:'F' 100 %}
                       %
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                <tr>
                  <td>{{student_by_site_grade.total_student_appropriate_level | get_students_length_by_gender:'M'}}</td>
                  <td>
                    {% widthratio student_by_site_grade.total_student_appropriate_level|get_students_length_by_gender:'M' student_by_site_grade.total|get_students_length_by_gender:'M' 100 %}
                     %
                  </td>
                  <td>{{student_by_site_grade.total_student_appropriate_level | get_students_length_by_gender:'F'}}</td>
                  <td>
                    {% widthratio student_by_site_grade.total_student_appropriate_level|get_students_length_by_gender:'F' student_by_site_grade.total|get_students_length_by_gender:'F' 100 %}
                     %
                  </td>
                </tr>
              </table>
            </td>
            {% endfor %}
          </tr>
        </table>
    </div>

{% endblock %}

{% block script %}
 <!-- DataTables JavaScript -->
<script type="text/javascript">
  $('#view_date').val('{{view_date}}');
  $('#start_view_date').val('{{start_view_date}}');
// $(function() {
//       $('#view_date').change(function() {
//           //split on /
//           url = '{%url 'mande_summary_report' %}' + $(this).val()
//           window.location.href = url
//       });
//     });

</script>

{% endblock %}
