{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load mandefilters %}
{% block title %}
{% trans "Adding a Student Evaluation for" %} {{student_id|name_by_sid}}
{% endblock %}

{% block content %}
<div class="col-md-9">
<form action = "{% url 'studentevaluation_form_single' student_id %}" method="post">

  <div class="form-group table-responsive">
    <table class="table table-bordered table-striped table-hover" id="academicTable">
      <thead><tr>  <th class="col-md-8" colspan=4><h3>{{student_id}} - {{student_id|name_by_sid}}{{ form.student_id.as_hidden }}</h3></th>
        <th class="col-md-4">{% bootstrap_field form.date placeholder=False %}</th>
      </tr>
        <tr>
        <th class="col-md-3">{% trans "Academic" %}</th>
        <th class="col-md-3">{% trans "Study/Learning" %}</th>
        <th class="col-md-3">{% trans "Life/Personal" %}</th>
        <th class="col-md-3">{% trans "Hygiene" %}</th>
        <th class="col-md-2">{% trans "Christian Growth" %}</th>
        </tr></thead>
      <tbody>
        <tr>
          <td>{% bootstrap_field form.academic_score placeholder=False %}</td>
          <td>{% bootstrap_field form.study_score placeholder=False %}</td>
          <td>{% bootstrap_field form.personal_score placeholder=False %}</td>
          <td>{% bootstrap_field form.hygiene_score placeholder=False %}</td>
          <td>{% bootstrap_field form.faith_score placeholder=False %}</td>
      </tr>
      <tr>
        <td colspan=7>{% bootstrap_field form.comments placeholder=False %}</strong></td>
      </tr>
    </tbody>
      <tfoot>
        <tr>
          <td colspan=8><button class="btn btn-primary">Submit</button></td>
        </tr>

      </tfoot>


    </table>
    {% csrf_token %}
</form>
</div>
</div>
<div class="col-md-3" style="color:red;">
  {{ form.non_field_errors }}
  {% for field in form %}
    {% if field.errors %}{{field.name}}{{field.errors}}{%endif%}
  {% endfor %}
  </div>
{% endblock %}
