{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
{% trans "Student Evaluation Report" %}{% if selected_classroom %} {{selected_classroom}} {% endif %}
{% endblock %}

{% block content %}



    <div class="col-md-3">

      <table class="table table-responsive" id="classlist">
        <thead><tr><th>{% trans "Classroom" %}</th></tr></thead>
        <tbody>
          <tr><td>
            <a href = "{% url 'student_evaluation_report' %}" role="button" class="btn btn-xs btn-warning">{% trans "All Classrooms" %}</a>
          </td></tr>
        {% for classroom in active_classrooms %}
          <tr><td>
            <a href = "{% url 'student_evaluation_report' classroom.classroom_id %}" role="button" class="btn btn-xs btn-success">{{classroom}}</a>
          </td></tr>
        {% endfor %}
        </tbody>
      </table>

    </div>
    <div class="col-md-9">
          <table class="table table-responsive table-bordered table-striped table-hover" id="evaluationReportTable">
            <thead><tr>
              <th>{% trans "Site" %}</th>
              <th>{% trans "Evaluation Date" %}</th>
              <th>{% trans "Student" %}</th>
              <th>{% trans "Academic" %}</th>
              <th>{% trans "Study/Learning" %}</th>
              <th>{% trans "Life/Personal" %}</th>
              <th>{% trans "Hygiene" %}</th>
              <th>{% trans "Christian Growth" %}</th>
              <th>{% trans "Comments" %}</th>

            </tr></thead>
            <tbody>
              {% for evaluation in evaluations %}
              <tr>
                  <td>{{ evaluation.student_id.site }}</td>
                  <td>{{ evaluation.date }}</td>
                  <td><a href="{% url 'student_detail' evaluation.student_id.student_id %}">{{ evaluation.student_id }}</a></td>
                  <td>{{evaluation.academic_score}}</td>
                  <td>{{evaluation.study_score}}</td>
                  <td>{{evaluation.personal_score}}</td>
                  <td>{{evaluation.hygiene_score}}</td>
                  <td>{{evaluation.faith_score}}</td>
                  <td>{{evaluation.comments}}</td>
                  </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>

{% endblock %}

{% block script %}
 <!-- DataTables JavaScript -->
<script type="text/javascript">
$('#datePicker').val('{{attendance_date}}');

$(document).ready(function(){
  $('#evaluationReportTable').DataTable({
      responsive: true,
      pageLength: 25,
      order: [[0,'asc']],
      dom: 'frtipB',
      buttons: [
        {
                 extend: 'csvHtml5',
                 text: 'TSV export <i class="fa fa-download"></i>',
                 className: 'btn btn-sm btn-success',
                 fieldSeparator: '\t',
                 extension: '.tsv',
                 title: 'StudentEvaluation'
             },

    ]
  });
  $('#classlist').DataTable({
      responsive: true,
      pageLength: 25,
      order: [[0,'asc']],
      dom: 'frtipB',
      buttons: [
      ],
      oLanguage: {
         "sSearch": "{% trans 'Filter Classrooms'%}: "
       }
  });
});
</script>

{% endblock %}
