{% extends "base.html" %}
{% load mandefilters %}
{% block title %}
Students Promoted Report
{% endblock %}

{% block content %}
<div class="col-md-9">
  <table>
    <td>
      <table style="border:1px solid black; display:inline-table;" class="table table-bordered table-striped table-hover">
        <tr><th>&nbsp;</th></tr>
        <tr><td>&nbsp;</td></tr>
        {% for list_of_year in list_of_years %}
            <tr>
              <td>
                {{list_of_year}}
              </td>
            </tr>
        {% endfor %}
        <tr>
          <td>Total:</td>
        </tr>
      </table>
    </td>
    {% for promoted in promoted_years %}
    <td>
      <table style="border:1px solid black; display:inline-table;" class="table table-bordered table-striped table-hover">
          <tr>
            <th colspan="2">{{promoted.school}}</th>
          </tr>
          <tr>
            <td>Boys</td><td>Girls</td>
          </tr>
          {% for year in promoted.years %}
          <tr>
              {% for k, v in year.items %}
              <!-- <td>{{ k }}</td> -->
              <td>{{v.students | get_students_length_by_gender:'M'}}</td>
              <td>{{v.students | get_students_length_by_gender:'F'}}</td>
              {% endfor %}
          </tr>
          {% endfor %}
          <tr>
            <td>{{promoted.total | get_students_length_by_gender:'M'}}</td>
            <td>{{promoted.total | get_students_length_by_gender:'F'}}</td>
          </tr>
        </table>
      </td>
      {% endfor %}
    </tr>
  </table>
  {{promoted_years}}
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">

</script>
{% endblock %}
