{% extends "base.html" %}
{% load mandefilters %}
{% block title %}
Students Promoted Times Report {% if site %}for {{site}} {% endif %} {% if grade %}- {{grade}} {% endif %}
{% endblock %}

{% block content %}
<div class="col-md-9">
      <table class="table table-bordered table-striped table-hover" id="attendanceReportTable">
        <thead>
          <tr>
            <th>Site</th>
            <th>Student</th>
            <th>Current Grade</th>
            <th>How long in VDP Program</th>
            <th>The Last Promoted Date</th>
            <th>Promoted Times</th>
          </tr>
        </thead>
        <tbody>
          {% for student,promoted in students_promoted.items %}
          <tr>
              <td>{{ student.site }}</td>
              <td><a href="{% url 'student_detail' student.student_id %}">{{ student }}</a></td>
              <td>{{ student.current_vdp_grade | grade_by_id}}</td>
              <td>{{student.date|timesince}}</td>
              <td>{{promoted.lastest_promoted_date}}</td>
              <td>{{promoted.promoted_times}}</td>
              </tr>
          {% endfor %}
        </tbody>

      </table>
</div>
<div class="col-md-3">
  <ul class="buttonlist">
    <li>
      <a href="{% url 'students_promoted_times_report' 'ALL' %}" class="btn {% if filter_seach != None %} btn-warning {% else %} btn-info {% endif %} btn-sm">
        All Students
      </a>
    </li>
    <li>
    <a href="{% url 'students_promoted_times_report' %}" class="btn {% if filter_seach == None %} btn-warning {% else %} btn-info {% endif %} btn-sm">
        Current Students
    </a>
    </li>
  </ul>
  <form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
      <select name="site" class="form-control">
        <option value="All Site">ALL Site</option>
        {% for site in sites %}
          <option value="{{ site.school_id }}">{{ site.school_name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <select name="grade" class="form-control">
        <option value="All Grade">All Grade</option>
        {% for grade_id,grade in grades.items %}
          {% if grade_id >= 1 and grade_id < 50 %}
          <option value="{{grade_id}}">{{grade}}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <input type="submit" class="btn btn-primary"/>
  </form>
</div>

{% endblock %}

{% block script %}
 <!-- DataTables JavaScript -->
<script type="text/javascript">
$(document).ready(function(){
  $('#attendanceReportTable').DataTable({
      responsive: true,
      pageLength: 25,
      order: [[0,'asc']],
      dom: 'frtipB',
      buttons: [
        {
                 extend: 'csvHtml5',
                 text: 'TSV export <i class="fa fa-download"></i>',
                 className: 'btn btn-sm btn-success',
                 fieldSeparator: '\t',
                 extension: '.tsv',
                 title: 'StudentLag'
             },

    ]
  });
});
</script>

{% endblock %}
