{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}
{% load mandefilters %}
{% block title %}
{% trans "Adding a Student Evaluation for " %}{{student_id|name_by_sid}}
{% endblock %}

{% block content %}
<div class="col-md-9">
<form action = "{% url 'studentevaluation_form_single' student_id %}" method="post">

  <div class="form-group table-responsive">
    <table class="table table-bordered table-striped table-hover" id="academicTable">
      <thead><tr>  <th class="col-md-8" colspan=4><h3>{{student_id}} - {{student_id|name_by_sid}}{{ form.student_id.as_hidden }}</h3></th><th class="col-md-4">{{form.date|bootstrap}}</th>
      </tr>
        <tr>
        <th class="col-md-3">Academic</th>
        <th class="col-md-3">Study/Learning</th>
        <th class="col-md-3">Life/Personal
        <th class="col-md-3">Hygeine</th>
        <th class="col-md-2">Christian Growth</th>
        </tr></thead>
      <tbody>
        <tr>
          <td>{{ form.academic_score|bootstrap }}</td>
          <td>{{ form.study_score|bootstrap }}</td>
          <td>{{ form.personal_score|bootstrap }}</td>
          <td>{{ form.hygiene_score|bootstrap }}</td>
          <td>{{ form.faith_score|bootstrap }}</td>
      </tr>
      <tr>
        <td colspan=7>{{form.comments|bootstrap}}</strong></td>
      </tr>
    </tbody>
      <tfoot>
        <tr>
          <td colspan=8><button class="btn btn-primary">Submit</button></td>
        </tr>

      </tfoot>


    </table>
    {% csrf_token %}
</form>
</div>
</div>
<div class="col-md-3" style="color:red;">
  {{ form.non_field_errors }}
  {% for field in form %}
    {% if field.errors %}{{field.name}}{{field.errors}}{%endif%}
  {% endfor %}
  </div>
{% endblock %}
