{% extends "base.html" %}
{% load mandefilters %}
{% block title %}
Students Not Enrolled In Public School Report
{% endblock %}

{% block content %}
<div class="col-md-9">
      <table class="table table-bordered table-striped table-hover" id="attendanceReportTable">
        <thead><tr>
          <th>Site</th>
          <th>Student</th>
          <th>Current VDP Grade</th>
          <th>Reason</th>
        </tr></thead>
        <tbody>
          {% for student in students_not_enrolled_in_public_school %}
          {% if student.current_vdp_grade != 70 and student.current_vdp_grade != 50%}
            {% if student.getRecentFields.enrolled != 'Y' %}
              <tr>
                  <td>{{ student.site }}</td>
                  <td><a href="{% url 'student_detail' student.student_id %}">{{ student }}</a></td>
                  <td>{{ student.current_vdp_grade | grade_by_id}}</td>
                  <td>{{ student.getRecentFields.reasons }}</td>
              </tr>
            {% endif %}
          {% endif %}
          {% endfor %}
        </tbody>

      </table>
    </div>
{% endblock %}

{% block script %}
 <!-- DataTables JavaScript -->
<script type="text/javascript">
$(document).ready(function(){
  $('#attendanceReportTable').DataTable({
      responsive: true,
      pageLength: 25,
      order: [[0,'asc']],
      dom: 'frtipB',
      buttons: [
        {
                 extend: 'csvHtml5',
                 text: 'TSV export <i class="fa fa-download"></i>',
                 className: 'btn btn-sm btn-success',
                 fieldSeparator: '\t',
                 extension: '.tsv',
                 title: 'StudentLag'
             },

    ]
  });
});
</script>

{% endblock %}
