{% extends "base.html" %}
{% load mandefilters %}
{% block title %}
Taking attendance for {{classroom}}
{% endblock %}

{% block content %}

<div class="col-md-9">
  <form method="post" action="{% url 'take_class_attendance' classroom.classroom_id attendance_date %}">
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="form-group">
      <table class="table table-bordered table-striped table-hover" id="attendanceTable">
        <thead><tr>
          <th>SID</th>
          <th>Name</th>
          <th>Attendance</th>
          <th>Comment</th></tr></thead>
        <tbody>
          {% for form in formset %}
          <tr>
              <td><a href="{%url 'student_detail' form.student_id.value %}">{{form.student_id.value}}</a>
                {{ form.student_id.as_hidden }}{{form.date.as_hidden}}
                {{form.classroom_id.as_hidden}}{{form.id}}
              </td>
              <td>{{form.student_id.value | name_by_sid}}</td>
              <td>{{ form.attendance }}</td>
              <td>{{ form.notes }}</td>
          </tr>
          {% endfor %}
        </tbody>

        <tfoot>

          <tr><td colspan=4>
            {% if submit_enabled == True %}
              <button class="btn btn-primary">Submit</button>
            {% else %}
              <p style="color:red">
                This class does not meet today!
              </p>
              <p>
                Want to <a href="{% url 'attendance_days' classroom.classroom_id attendance_date %}">change the attendance calendar?</a>
              </p>
            {% endif %}
          </td></tr>
        </tfoot>


      </table>
    </div>
  </form>
</div>


<div class="col-md-3">
      <input type="date" name="attendance_date" class="form-control" id="datePicker"/>
      <p style="color:red">{{ warning }}</p>
      <p style="color:green">{{ message }}</p>
</div>


{% endblock %}

{% block script %}
<!-- DataTables JavaScript -->
<script src="/static/mande/bower_components/DataTables/media/js/jquery.dataTables.min.js"></script>
<script src="/static/mande/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">

$(document).ready( function() {
    $('#datePicker').val('{{attendance_date}}');

    $(function() {
      $('#datePicker').change(function() {
          //split on /
          $url = window.location.href.split('/')
          //replace the final value (the date)
          $url[$url.length-2] = $(this).val()
          //rewrite the url with the new date in place
          window.location.href = $url.join('/')
      });
    });

    $('#attendanceTable').DataTable({
      responsive: true,
      pageLength: 300,
      "dom": '<"top"i>rt<"bottom"f><"clear">'
    });

    $('#previousAttendanceTable').DataTable({
      responsive: true,
      pageLength: 300,
      "dom": '<"top"i>rt<"bottom"f><"clear">'
    });

});

</script>
{% endblock %}
