{% extends "base.html" %}
{% load bootstrap %}
{% block title %}
Manage Teachers
{% if action != None %}
<small>{{action}}</action>
{% endif %}
{% endblock %}

{% block content %}
<div class="col-md-12">

</div>
<div class="col-md-4">
  <ul>
    {% if status == 'active' %}
      <h5>Active Teacher</h5>
    {% else %}
      <h5>Inactive Teacher</h5>
    {% endif %}
    {% for teacher in current_teachers %}
      <li><a href = "{% url 'teacher_form' status teacher.teacher_id %}">{{teacher}}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="col-md-4">
<form action = "{% url 'teacher_form' status teacher_id %}" method="post">
    {{ form|bootstrap }}
    {% csrf_token %}
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</div>
<div class="col-md-2">
  {% if action == None %}
    <a href = "{% url 'teacher_form' status %}" role="button" class="btn btn-success">Adding a teacher</a>
  {% else %}
    <a href = "{% url 'teacher_form' status %}" role="button" class="btn btn-danger">Add a teacher?</a>
  {% endif %}
</div>
<div class="col-md-2">
   {% if status == 'active' %}
    <a href = "{% url 'teacher_form' 'inactive' %}" role="button" class="btn btn-warning">Show Inactive Teacher</a>
   {% else %}
   <a href = "{% url 'teacher_form' 'active' %}" role="button" class="btn btn-warning">Show Active Teacher</a>
   {% endif %}

</div>


{% endblock %}
